.sidebar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sidebar > :first-child {
  width: 20%;
}

.sidebar > :nth-child(2) {
 width: 80%;
}





/*
.sidebar > :last-child {
  flex-grow: 1;
  flex-basis: 20ch;
}

.sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}*/
