:root {
  --s0: 1rem;



  --grey: #ECF2FF;
  --blue: #3E54AC;
  --purple: #655DBB;
  --purple-light: #BFACE2;
}


/*
SPACING

8px
16px
24px
32px
48px
64px
96px
128px
*/


/*
SCALES

1rem
1.25rem
1.5rem
2rem
*/
